/***************************************** GLOBAL STYLES *****************************************/

:root {
    --dark-background: #424e61;
    --light-background: #4A586E;
    --black: #2F3640;
    --white: #FAFAF2;
    --dark-red: #b10d18;
    --red: #EE3D48;
    --light-red: #ee8a91;
    --dark-green: #236330;
    --green: #4BB462;
    --light-green: #70db79;
    --orange: #F39629;
    --milk: #DAE4E5;
    --main-width: 600px;
    --more-space: 0.2rem;
    --less-space: 0.1rem;
    --transition: all 0.5s ease;
}
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection {
    background-color: var(--dark-background);
    color: var(--white);
}
body {
    width: 100vw;
    min-height: 100vh;
    padding: 15vh 0;
    overflow-x: hidden;
    background: linear-gradient(95deg, var(--light-background) 50%, var(--dark-background) 50%);
    color: var(--black);
    font: 1rem 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
    line-height: 1;
    text-transform: capitalize;
    letter-spacing: var(--more-space);
}
p {
    line-height: 1.5;
}
button {
    display: block;
    cursor: pointer;
    transition: var(--transition);
}
.fixed-size {
    height: 2rem;
    border-radius: 1rem;
    font: 0.9rem 'Open Sans', sans-serif;
}

@media screen and (max-width: 425px) {
    body {
        font: 0.9rem 'Open Sans', sans-serif;  
    }
    h1 {
        font-size: 1.6rem;
    }
    .fixed-size {
        height: 1.85rem;
        font: 0.8rem 'Open Sans', sans-serif;
    }
}

/***************************************** PRELOADER *****************************************/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: var(--milk);
    transition: var(--transition);
    z-index: 999;
}
.preloader.hide {
    opacity: 0;
    visibility: hidden;
}
.loading {
    display: flex;
    column-gap: 1rem;
}
.loading span {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--dark-background);
    animation: loading 0.4s ease 0s infinite alternate;
}
.loading span:nth-child(2) {
    animation-delay: 0.2s;
}
.loading span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes loading {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0.25;
        transform: scale(0.75);
    }
}

/***************************************** TASK-MANAGER *****************************************/

.task-manager {
    max-width: var(--main-width);
    width: 90vw;
    margin: 0 auto;
    padding: 1rem 2rem 2rem 2rem;
    border-radius: 0.5rem;
    background-color: var(--milk);
}
.message-area {
    height: 2rem;
    display: grid;
    place-items: center;
    margin-bottom: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--more-space);
    visibility: hidden;
}
.message-area.notice {
    background-color: var(--light-green);
    color: var(--dark-green);
    visibility: visible;
}
.message-area.alarm {
    background-color: var(--light-red);
    color: var(--dark-red);
    visibility: visible;
}
.task-form {
    display: grid;
    grid-gap: 1rem;
    margin: 2rem 0;
}
.input-container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 0.5rem;
}
.input-container > * {
    padding: 0rem 0.5rem;
    border: 2px solid var(--white);
    background-color: var(--white);
    color: var(--black);
}
.input-container > *:focus {
    border-color: var(--light-background);
    outline: none;
}
.filters {
    width: 4.5rem;
    padding-left: 0.2rem;
    padding-right: 0;
    text-transform: capitalize;
}
.filters > * {
    background-color: var(--light-background);
    color: var(--white);
}
.btn-container {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}
.btn-container > * {
    width: 7rem;
    border: none;
    background-color: var(--light-background);
    color: var(--white);
    text-transform: capitalize;
    letter-spacing: var(--less-space);
}
.add-task-btn:hover {
    background-color: var(--black);
}
.clear-btn {
    background-color: var(--red);
}
.clear-btn:hover {
    background-color: var(--dark-red);
}
.tasks-container {
    display: grid;
    grid-gap: 0.5rem;
    margin: 2rem 0;
}
.no-tasks {
    text-align: center;
    font-style: italic;
    letter-spacing: var(--less-space);
}
.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.5rem;
    transition: var(--transition);
}
.task.done {
    opacity: 0.7;
    text-decoration: line-through;
}
.task.delete {
    opacity: 0;
    transform: translateY(200%) rotateZ(-20deg);
}
.task-content {
    word-break: break-all;
}
.task-controls {
    display: flex;
    column-gap: 0.8rem;
}
.task-controls > * {
    border: none;
    background-color: inherit;
    font-size: 1rem;
}
.done .task-controls > * {
    color: var(--black);
}
.task-controls > *:hover {
    opacity: 0.7;
}
.do-task-btn {
    color: var(--green);
}
.edit-task-btn {
    color: var(--orange);
}
.delete-task-btn {
    color: var(--red);
}
.controller {
    text-align: center;
    text-transform: capitalize;
    letter-spacing: var(--less-space);
}
.controller span {
    font-weight: 700;
}
.date {
    color: var(--dark-red);
    font-style: italic; 
}
.count {
    display: grid;
    grid-template-columns: 9rem auto;
    justify-content: center;
    text-align: left;
}
.active-tasks-amount {
    color: var(--orange);
}
.done-tasks-amount {
    color: var(--green);
}

@media screen and (max-width: 425px) {
    .task-manager {
        padding: 1rem 1rem 2rem 1rem;
    }
    .filters {
        width: 4.2rem;
    }
    .btn-container > * {
        width: 6rem;
    }
    .task-controls {
        column-gap: 0.6rem;
    }
    .task-controls > * {
        font-size: 0.9rem;
    }
    .count {
        grid-template-columns: 8rem auto;
    }
}


