@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,700;1,500&display=swap');

/***************************************** GLOBAL STYLES *****************************************/

:root {
    --dark-background: #424e61;
    --light-background: #4A586E;
    --black: #2F3640;
    --white: #FAFAF2;
    --dark-red: #b10d18;
    --red: #e33943;
    --light-red: #ee8a91;
    --dark-green: #236330;
    --green: #42ab59;
    --light-green: #6ecb76;
    --light-grey: rgb(191, 203, 209);
    --orange: #F39629;
    --milk: #DAE4E5;
    --main-width: 600px;
    --more-space: 0.2rem;
    --less-space: 0.1rem;
    --radius: 0.5rem;
    --radius-2: 1rem;
    --transition: all 0.5s ease;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
*::selection {
    background-color: var(--dark-background);
    color: var(--white);
}
body {
    min-height: 100vh;
    padding: 15vh 0;
    overflow-x: hidden;
    background: linear-gradient(95deg, var(--light-background) 50%, var(--dark-background) 50%);
    color: var(--black);
}
h1 {
    text-align: center;
    line-height: 1;
    text-transform: capitalize;
    letter-spacing: var(--more-space);
}
p {
    line-height: 1.5;
}
button {
    border: none;
    cursor: pointer;
    transition: var(--transition);
}

@media screen and (max-width: 425px) {
    body {
        font-size: 0.9rem;
    }
    h1 {
        font-size: 1.8rem;
    }
}

/***************************************** PRELOADER *****************************************/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: var(--milk);
    transition: var(--transition);
    z-index: 999;
}
.preloader.hide {
    opacity: 0;
    visibility: hidden;
}
.loading {
    display: flex;
    column-gap: 1rem;
}
.loading span {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--dark-background);
    animation: loading 0.4s ease 0s infinite alternate;
}
.loading span:nth-child(2) {
    animation-delay: 0.2s;
}
.loading span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes loading {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0.25;
        transform: scale(0.75);
    }
}

/***************************************** TASK-MANAGER *****************************************/

.task-manager {
    max-width: var(--main-width);
    width: 90vw;
    margin: 0 auto;
    padding: 1rem 2rem 2rem 2rem;
    border-radius: var(--radius);
    background-color: var(--milk);
}
.message-area {
    height: 2rem;
    display: grid;
    place-items: center;
    margin-bottom: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--more-space);
    visibility: hidden;
}
.message-area.notice {
    background-color: var(--light-green);
    color: var(--dark-green);
    visibility: visible;
}
.message-area.alarm {
    background-color: var(--light-red);
    color: var(--dark-red);
    visibility: visible;
}

@media screen and (max-width: 500px) {
    .task-manager {
        padding: 1rem 1rem 2rem 1rem;
    }
}

/***************************************** TASK-FORM *****************************************/

.task-form {
    display: grid;
    grid-gap: 1rem;
    margin: 2rem 0;
}
.form-item {
    height: 2.2rem;
    border-radius: var(--radius-2);
    font-size: 1rem;
}
.input-container {
    display: flex;
    column-gap: 0.5rem;
}
.input-container > * {
    width: 100%;
    padding: 0rem 0.5rem;
    border: 2px solid var(--white);
    background-color: var(--white);
    color: var(--black);
}
.input-container > *:focus {
    border-color: var(--light-background);
    outline: none;
}
.filters {
    width: 5rem;
    padding-left: 0.2rem;
    padding-right: 0;
    text-transform: capitalize;
}
.filters > * {
    background-color: var(--light-background);
    color: var(--white);
}
.btn-container {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}
.btn-container > * {
    width: 7rem;
    background-color: var(--light-background);
    color: var(--white);
    text-transform: capitalize;
    letter-spacing: var(--less-space);
}
.add-task-btn:hover {
    background-color: var(--black);
}
.clear-btn {
    background-color: var(--red);
}
.clear-btn:hover {
    background-color: var(--dark-red);
}

@media screen and (max-width: 425px) {
    .filters {
        width: 4.5rem;
    }
    .btn-container > * {
        width: 6.5rem;
    }
    .form-item {
        height: 2rem;
        font-size: 0.9rem;
    }
}

/***************************************** TASKS *****************************************/

.tasks-container {
    display: grid;
    grid-gap: 0.5rem;
    margin: 2rem 0;
}
.no-tasks {
    text-align: center;
    font-style: italic;
    letter-spacing: var(--less-space);
}
.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.5rem;
    padding: 0.5rem;
    border-radius: var(--radius);
    background-color: var(--light-grey);
    transition: var(--transition);
}
.task.done {
    opacity: 0.7;
    text-decoration: line-through;
}
.task.delete {
    opacity: 0;
    transform: translateY(200%) rotateZ(-20deg);
}
.task-content {
    word-break: break-all;
}
.task-controls {
    display: flex;
    column-gap: 0.8rem;
}
.task-controls > * {
    background-color: inherit;
    font-size: 1rem;
}
.done .task-controls > * {
    color: var(--black);
}
.task-controls > *:hover {
    opacity: 0.7;
}
.do-task-btn {
    color: var(--green);
}
.edit-task-btn {
    color: var(--orange);
}
.delete-task-btn {
    color: var(--red);
}

@media screen and (max-width: 425px) {
    .task-controls {
        column-gap: 0.6rem;
    }
    .task-controls > * {
        font-size: 0.9rem;
    }
}

/***************************************** CONTROLLER *****************************************/

.controller {
    text-align: center;
    text-transform: capitalize;
    letter-spacing: var(--less-space);
}
.controller span {
    font-weight: 700;
}
.date {
    color: var(--dark-red);
    font-style: italic; 
}
.count {
    display: grid;
    grid-template-columns: 9rem auto;
    justify-content: center;
    text-align: left;
}
.active-tasks-amount {
    color: var(--orange);
}
.done-tasks-amount {
    color: var(--green);
}

@media screen and (max-width: 425px) {
    .count {
        grid-template-columns: 8rem auto;
    }
}


